@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --primary-clr:#007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: poppins;
}

.navbar{
  background: white;
  padding: 1em;
}

.navbar .logo{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.logo span{
  color: var(--primary-clr);
}

.navbar nav{
  display: none;
}

.navbar .container{
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu{
  cursor: pointer;
}

a{
  color: #444444;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section{
  padding: 5em 2em;
}

.hero{
  text-align: center;
}

.left-col .subhead{
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .2em;
}

.left-col h1{
  font-size: 2em;
  line-height: 1.4em;
  margin-top: .2em; 
}

.left-col .primary-cta{
  text-decoration: none;
  background: var(--primary-clr);
  padding: .6em 1.3em;
  border-radius: 5em;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
}

.watch-vid{
  display: block;
  margin-top: 1em;
  line-height: 0;
}

.watch-vid img{
  margin-right: .5em;
  position: relative;
  margin-bottom: -.1em;
}

.hero-img{
  width: 70%;
  margin-top: 3em;
}

section.features-sec{
  background: #20272e;
  color: white;
}

ul.features-list{
  margin: 0;
  padding-left: .1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}

.features-list li{
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.features-list li::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./assets/bullet.svg);
  background-size: contain;
  /* margin-right: .5em; */
  left: -2em;
  top: 3px;
}

.features-sec img{
  display: none;
  /* phone Holding */
}

section.testimonials-section{
  background: var(--primary-clr);
  color: white;
}

.testimonials-section li{
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

li img{
  width: 5em;
  height: 5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact-section h2{
  font-size: 2em;
}

.contact-section label{
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea{
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 80px;
}

input[type="submit"]{
  background: var(--primary-clr);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  width: unset;
  cursor: pointer;
}

iframe{
  width: 100%;
  height: 300px;
}

/* This class purpose of javascrip */
nav.menu-btn{
  display: block;
}

nav{
  position: fixed;
  z-index: 999;
  background: #20272e;
  right: 0;
  top: 0;
  width:66%;
  height: 100vh;
  padding: 1em;
}

ul.primary-nav{
  margin-top: 5em;
}

li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

li a:hover{
  font-weight: bold;
}

.mobile-menu-exit{
  float: right;
  margin: .5em;
  cursor: pointer;
}

 /* @media For Desktop Responsive*/

@media only screen and (min-width: 750px){

  .mobile-menu, .mobile-menu-exit{
    display: none;
  }

  
  .navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  
  .navbar .container{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  nav ul{
    display: flex;
  }
  
  ul a{
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }

  ul.primary-nav{
    margin: 0;
  }

  li.current a{
    font-weight: bold;
  }

  li.go-premium-cta a{
    color: var(--primary-clr);
    border: 3px solid var(--primary-clr);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }

  .go-premium-cta a:hover{
    background: var(--primary-clr);
    color: white;
  }
  textarea{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1080px){
  
  .container{
    width: 1080px;
    margin: 0 auto;
  }

  section{
    padding: 10em 4em;
  }

  .hero .container{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .left-col{
    margin: 3em 3em 0 5em;
  }

  .left-col h1{
    font-size: 3em;
    width: 80%;
  }

  .hero-img{
    width: 30%;
    margin-right: 8em;
  }

  .hero-cta{
    display: flex;
  }

  a.primary-cta{
    margin-right: 1em;
  }

  ul.features-list{
    display: block;
    margin-left: 5em;
  }
  .features-list li{
    font-size: 1.4em;
  }
  .features-list li::before {
    width: 30px;
    height: 30px;
  }

  .features-sec{
    position: relative;
  }

  .features-sec img{
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }

  .testimonials-section ul{
    display: flex;
  }

  .testimonials-section ul li{
    margin: 0 1em;
  }

  .contact-section{
    position: relative;
  }

  .contact-section .container{
    display: flex;
  }

  .contact-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }

  .contact-right iframe{
    height: 100%;
  }


}
  
@media only screen and (min-width: 1260px){
  .features-sec::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-clr);
    left: 0;
    top: -4em;
  }

  .features-sec::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url(/assets/dots.svg) no-repeat;
    left: 4.4em;
    top: 2em;
  }
}